@charset "UTF-8";

/* Global variables */
:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;

  /* --fontWeight-medium: 500; */
  /* --fontWeight-semibold: 600; */
  /* --fontWeight-extrabold: 800; */
  --fontWeight-black: 900;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  /* 1.125 Major Second Type Scale */
  --fontSize-0: 0.889rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.125rem;
  --fontSize-3: 1.226rem;
  --fontSize-4: 1.424rem;
  --fontSize-5: 1.602rem;
  --fontSize-6: 1.802rem;
  /* --fontSize-7: 2.986rem; */
  /* --color-primary: #005b99; */
  /* --color-text-normal: #2e353f; */
  /* --color-text-dark-light: #4f5969; */
  /* --color-heading-normal: #1a202c; */
  /* --color-heading-normal-black: black; */
  /* --color-hover: #d1dce5; */
  /* --color-primary: #4D7200; */
  /* --color-warning: #FFDC00; */




  --lineHeight-normal: 1.5;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-bold: 700;
  --lineHeight-relaxed: 1.625;


  --font-heading: "DM Mono", "M PLUS Rounded 1c", monospace, sans-serif;
  --font-body: "DM Sans", "M PLUS Rounded 1c", sans-serif;
  --fontSize-root: 16px;
  --fontSize-root-md: 18px;
  --color-background-body: #F7F5EF;
  --color-blockquote: #e7f3cb;
  --color-blockquote-sub: #fdee99;
  --color-background-light: #dbf5a5;
  --color-background-normal: #8CBE23;
  --color-background-dark: #6B980D;
  --color-suggest: #FFDC00;
  --color-suggest-hover: #FFE964;
  --color-heading-normal: #4D7200;
  --color-heading-dark: #231914;
  --color-text-dark: #231914;
  --color-text-dark-hover: #160B05;
  --color-text-theme: #8CBE23;
  --color-text-normal: #795400;
  --color-text-light: #F7F5EF;
  /* --color-text-dark-light: #32518A; */
  --color-text-translation: #32518A;
  --color-border-light:  #CFF088;
  --color-border-normal:  #4D7200;
  --color-border-dark:  #231914;
  --color-border-medium:  #8CBE23;
  --color-code-link: #4D7200;
  --color-link: #8CBE23;
  --color-hover: #FFDC00;

  /* --link-color-darker */
}

/* HTML elements */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize-root);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.75;
  color: var(--color-text-dark);
}
@media screen and (min-width: 768px) {
  html {
    font-size: var(--fontSize-root-md);
  }
}

body {
  background-color: var(--color-background-body);
}

img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  vertical-align: bottom;
}

hr {
  background: var(--color-border-normal);
  height: 1px;
  border: 0;
}

p {
  /* margin: 0; */
  /* margin-bottom: 1rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(0.03deg);
}

p,
ol,
ul,
dl,
table,
blockquote {
  margin: 0 0 1.5rem 0;
}


ul,
ol {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  ul,
  ol {
    padding: 0 2rem;
  }
}

ul li p {
  margin: 0 0 0.2rem 0;
}

ul li {
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0;
  margin-bottom: 0.3rem;
}

ol li ol {
  margin-bottom: 0;
}

blockquote {
  color: var(--color-text-dark);
  margin: 2rem 0;
  padding: 1rem;
  background-color: var(--color-blockquote);
  border-radius: 0.35rem;
  border-left: 3px solid var(--color-background-dark);
}
@media screen and (min-width: 768px) {
  blockquote {
    padding: 2rem;
  }
}

blockquote p {
  max-width: 100% !important;
}

blockquote *:last-child {
  margin: 0;
}

blockquote :not(pre) > code[class*='language-'] {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-border-dark);
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Links */

a {
  color: var(--heading-color);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 3px solid var(--color-link);
}

a:hover {
  color:var(--color-text-dark-hover);
  border-bottom: 3px solid var(--color-hover);
}

a.image-link {
  border-width: 0;
}

a.gatsby-resp-image-link {
  border-bottom: none !important;
}

a code[class*='language-'] {
  color: var(--color-code-link) !important;
}

a code[class*='language-']:hover {
  background: var(--color-hover) !important;
  color: var(--color-text-dark) !important;
}


/* Headings */
/* ======================================================== */

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-heading-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(0.03deg);
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-family: var(--font-heading);
  font-size: 1.7rem;
  line-height: 1.1;
  letter-spacing: -0.15rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--color-border-dark);
}

h2 code {
  font-size: 1.5rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text-dark);
  margin-bottom: 1rem;
  text-decoration: underline;
}

h3 code {
  font-size: 1.4rem !important;
}

h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-text-dark);
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--color-border-dark);
  padding-bottom: 0.25rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    /* font-size: 2.0rem; */
    letter-spacing: -0.1rem;
  }

  h2 {
    /* font-size: 2.0rem; */
    letter-spacing: -0.1rem;
  }

  h3 {
    /* font-size: 1.8rem; */
    font-weight: 700;
    color: var(--color-text-dark);
  }

  h4 {
    /* font-size: 1.6rem; */
    font-weight: 700;
  }
}

/* Details */
/* ======================================================== */

details {
  background-color: rgba(100, 110, 140, 0.05);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1rem;
    padding: 0.5em 0.5em 0;
}

summary {
    font-weight: bold;
    color: rgb(90, 90, 90);
    margin: -0.5rem -0.5rem 0;
    padding: 0.5rem;
}

details[open] {
    padding: 0.5rem;
}

details[open] summary {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

details[open] div p,
details[open] div ul li,
details[open] div ol li {
  color: rgb(85, 85, 85);
  margin-bottom: 0.5rem;
}

details[open] div blockquote {
  background-color: var(--color-blockquote-sub);
}


/* Custom classes */

.container {
  width: 90%;
  max-width: 48rem;

  margin: 0 auto;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .container {
  width: 95%;
  }
}

/* Header-Navbar */
/* ======================================================== */

@media print {
  .navbar {
    display: none;
  }
}

.navbar {
  box-shadow:
    0 3px 13px rgba(100, 110, 140, 0.1),
    0 2px 4px rgba(100, 110, 140, 0.15);
}

.navbar .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height:120px;
}
@media screen and (min-width: 768px) {
  .navbar .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

.navbar .container .logo {
  width: 210px;
  height: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .navbar .container .logo {
    margin: 0;
  }
}

.navbar .container .nav-menu {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .navbar .container .nav-menu {
    margin-top: 0;
  }
}
.navbar .container .nav-menu a {
  position: relative;
  display: inline-block;
  font-family: var(--font-heading);
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: none;
  text-decoration: underline var(--color-link);
  text-decoration-thickness: 3px;
  transition: 0.3s;
}
.navbar .container .nav-menu a:hover {
  text-decoration-color: var(--color-hover);
}

.navbar .container .nav-menu a:not(:last-child) {
  margin-right: 3.75rem;
}

.navbar .container .nav-menu .navbar-blog::before {
  content: "Blog";
  position: absolute;
  text-decoration: underline var(--color-hover);
  text-decoration-thickness: 3.5px;
  left: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.navbar .container .nav-menu .navbar-blog:hover::before {
  text-decoration: underline var(--color-hover);
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.navbar .container .nav-menu .navbar-about::before {
  content: "About";
  position: absolute;
  text-decoration: underline var(--color-hover);
  text-decoration-thickness: 3.5px;
  left: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
.navbar .container .nav-menu .navbar-about:hover::before {
  text-decoration: underline var(--color-hover);
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

/* Blurb */
/* ========================================================*/

.blurb {
  background-color: var(--color-background-normal);
  margin-bottom: 2rem;
}

.blurb .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .blurb .container {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

.blurb .container figure {
  width: 128px;
  height: 128px;
  margin: 0.5rem auto;
}
@media screen and (min-width: 768px) {
  .blurb .container figure {
    width: 64px;
    height: 64px;
    margin: 0.5rem 0;
  }
}

.blurb-avatar {
  border-radius: 50%;
}

.blurb .container .blurb-text {
  text-align: left;
  margin: 0 auto;
  color: var(--color-text-light);
}
@media screen and (min-width: 768px) {
  .blurb .container .blurb-text{
    margin: 0;
    margin-left: 1rem;
  }
}

.blurb .container .blurb-text p {
  margin: 0 0;
  font-weight: medium;
}

.blurb .container .blurb-text p span {
  font-weight: bold;
  color: var(--color-text-dark);
}

.blurb a:hover {
  border-bottom: none;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-hover);
}

/* Footer */
/* ======================================================== */

.footer {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.footer .container {
  display: flex;
  align-items: center;
  text-align: center;
}

.footer .container .copy a {
  border-bottom: none;
}
footer .container .copy a:hover {
  border-bottom: none;
  text-decoration: underline var(--color-border-dark);
  text-decoration-thickness: 3px;
}

/* Main-page */
/* ======================================================== */

.main-page .blurb {
  margin-bottom: 3rem;
}

.index .section-title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  color: var(--color-text-dark);
  border-bottom: 3px solid var(--color-text-dark);
}

.index .post {
  padding: 1rem 0;
}

.index .post .post-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-border-normal);
}

.index .post .post-row .post-link {
  border-bottom: none;
}

.index .post a:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--color-hover);
}

.index .post .post-row h3 {
  text-decoration: none;
  font-family: var(--font-heading);
  font-size: 1.125rem;
  color: var(--color-heading-normal);
  margin-bottom: 0.5rem;
}

.index .post .post-row time {
  font-family: var(--font-body);
  font-size: 0.875rem;
  letter-spacing: -3;
}

.index .post .post-row .paragraph {
  margin: 0.5rem 0;
}

.index .post .post-row p {
  margin: 0;
}

/* About-page */
/* ======================================================== */

.about h1 {
  border-bottom: 3px solid var(--color-text-dark);
}
.about .container p span {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Tags */
/* ======================================================== */

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}

.tags > a {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  background: var(--color-background-light);
  color: var(--color-border-dark);
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.5rem 0.6rem;
  border-radius: 0.35rem;
  border-bottom: 0;
  white-space: nowrap;
  line-height: 1;
}
.tags > a:last-child {
  margin-right: 0;
}

.tags > a:hover {
  background: var(--color-hover);
}

/* Post-page */
/* ======================================================== */

/* Heading Section */

.blog-post .article-header {
  padding-top: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .blog-post .article-header {
    margin-bottom: 2rem;
  }
}

.blog-post .article-header .thumb {
  display: grid;
  grid-template-rows: repeat (4, auto );
  grid-template-columns: auto;
  justify-content: start;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  gap: 0.8rem;
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 3px solid var(--color-text-dark);
}
.post-thumbnail.gatsby-image-wrapper {
  min-width: 64px;
  height: 64px;
  width: 64px;
  margin-bottom: 0.5rem;
}
.blog-post .article-header .thumb .post-title {
  color: var(--color-text-dark);
  margin: 0;
}
.blog-post .article-header .thumb .published-modified {
  display: flex;
  gap: 0.5rem;
}
.thumb .published-modified .icon {
  padding-right: 0.2rem;
}

@media screen and (min-width: 768px) {
  .blog-post .article-header .thumb {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    align-content: stretch;
  }
  .post-thumbnail.gatsby-image-wrapper {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    width: 128px;
    height: 128px;
    margin-left: 2rem;
  }
  .blog-post .article-header .thumb .post-title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .blog-post .article-header .thumb .published-modified {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    gap: 1rem;
  }
  .blog-post .article-header .thumb .tags {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}


/* Post Section */

.article-post {
  margin-bottom: 2rem;
}

.article-post .anchor.before {
  top: 0;
}

.anchor.before {
  font-weight: bold;
  stroke: var(--color-link);
  stroke-width: 1px;
  fill: var(--color-link);
  left: -0.25rem;
  border-width: 0;
}

.article-header .description {
  font-size: 1.4rem;
  color: var(--color-text-normal);
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .article-post h1,
  .article-post h2,
  .article-post h3,
  .article-post h4,
  .article-post h5 {
    padding-top: 1rem;
  }

  .article-post h2 {
    font-size: 1.8rem;
  }
}

.blog-post .gatsby-resp-image-wrapper {
  box-shadow:
    0 0 1px rgba(0, 0, 0, 0.1),
    0 0 1px rgba(0, 0, 0, 0.06),
    0 2px 2px rgba(0, 0, 0, 0.06),
    0 4px 4px rgba(0, 0, 0, 0.06),
    0 8px 8px rgba(0, 0, 0, 0.06),
    0 16px 16px rgba(0, 0, 0, 0.06);
}

/* Suggest */
/* ======================================================== */

/* common */
@media (min-width: 768px) {
  .blog-post-nav {
    margin-bottom: 1.5rem;
  }
}
.suggest {
  list-style: none;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .suggest {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}

.suggest .suggest-item {
  padding: 0;
  margin: 0;
}

.suggest .suggest-item a {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-items: stretch;
  align-items: stretch;
  background-color: var(--color-suggest);
  border-radius: 0.35rem;
  border-bottom: none;
  padding: 1rem;
  transition: all 0.2s ease;
}
.suggest .suggest-item a:hover {
  transform: translate3D(0, -1px, 0);
}

.suggest .suggest-item a .arrow-sign {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: auto 0;
}

.suggest .suggest-item a time {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--color-text-normal)
}

/* previous */

.suggest-prev a {
  position: relative;
  justify-content: start;
  text-align: left;
}
.suggest-prev a .arrow-sign {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 0.8rem;
}
.suggest-prev a time {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.suggest-prev a p {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.suggest-prev a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--color-suggest-hover);
  border-radius: 0.35rem;
  transform-origin: left top;
  transform: scale(0, 1);
  transition: transform 0.35s;
}
.suggest-prev a:hover::before {
  transform-origin: right top;
  transform: scale(1, 1);
}

/* next */

.suggest-next a {
  position: relative;
  justify-content: end;
  text-align: right;
}
.suggest-next .arrow-sign {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 0.8rem;
}
.suggest-next time {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.suggest-next p {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
.suggest-next a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--color-suggest-hover);
  border-radius: 0.35rem;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.35s;
}
.suggest-next a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* Tag-page */
/* ======================================================== */

.tag-page h1 {
  margin-top: 2rem;
}

p.subtitle {
  font-size: 1.3rem;
}

.count {
  font-weight: bold;
  color: var(--color-text-theme);
}

