.container {
  display: flex;
  background-color: #F7F5EF;
  height: 100px;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-4) var(--spacing-0);
  justify-content: space-between;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;

}
